<% include precontent %>
<div>
      <strong>Affiliation with Outside Organization</strong><br>
      <p>Association of Computing Machinery
<br> Website: <a href="http://www.acm.org/">http://www.acm.org/</a></p>
    </div>

    <div>
      <strong>Here's What We Do</strong><br>
      <p>We are a relatively new club at Mizzou and we are getting bigger every year. What we have planned this year is fundraising for personal computer science projects, game nights, Ultimate Frisbee, and assisting struggling students in computer science. If you have any other ideas; stop by and give your idea. The more members we get the better we can be.</p>
    </div>
	

<% include postcontent %>