<% include precontent %>
<div>
    <div>
      <strong>President Name</strong><br>
      <p>Matthew England</p>
    </div>

    <div>
      <strong>Vice President Name</strong><br>
      <p>Ryan Donnelly</p>
    </div>

    <div>
      <strong>Treasurer Name</strong><br>
      <p>Brendan Long</p>
    </div>

    <div>
      <strong>Advisor Name</strong><br>
      <p>Joe Guilliams</p>
    </div>

    <div>
      <strong>Advisor's Campus Address</strong><br>
      <p>EBW</p>
    </div>

    <div>
      <strong>Organization Email Address</strong><br>
      <p><a href="mailto:mremtf@mail.missouri.edu">mremtf@mail.missouri.edu</a></p>
    </div>

    <div>
      <strong>Campus Mailing Address</strong><br>
      <p>EBW Room 211</p>
    </div>
  
</div>

<% include postcontent %>