<% include precontent %>
	<form method="get" action="/createGroupCallback">
		<input type="text" name="name" placeholder="Group Name"><br>
		<textarea name="description" rows="3" placeholder="Group Description"></textarea><br>
		<input type="text" name="meetingInformation" placeholder="Meeting Information"><br>
		<input type="submit" class="btn">
	</form>
<% include postcontent %>