<% include precontent %>
<div>
	<ul class="thumbnails">
		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>

		<li class="span2">
			<a href="/gallery/lighthouse.jpg" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="/Gallery/eiffelTowerPicture.jpg" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>
	</ul>
<% include postcontent %>