<% include precontent %>
<div>
     <img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Picture" width="1280" height="803" class="img-rounded">
	 <br></br>
	 <img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eifel Tower Picture" class="img-rounded">
	 <br></br>
	 <ul class="thumbnails">
		<li class="span2">
			<a href="#" class="thumbnail">
				<img src="/img/Gallery/lighthouse.jpg" alt="Lighthouse Thumbnail">
			</a>
		</li>
		<li class="span2">
			<a href="#" class="thumbnail">
				<img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eiffel Tower Thumbnail">
			</a>
		</li>
	</ul>
</div>
	

<% include postcontent %>