<% include precontent %>
<div>
     <img src="/img/Gallery/cheetahPicture.jpg" alt="Cheetah Picture" width="625" height="450">
	 <br></br>
	 <img src="/img/Gallery/eiffelTowerPicture.jpg" alt="Eifel Tower Picture">
</div>
	

<% include postcontent %>