<% include precontent %>
<a href="#" class="btn" style="float:right;">Join this Group</a>
<b>Group Description</b>: <%= group.description %><br>
<b>Meeting Information</b>: <%= group.meetingInformation%>
<% include postcontent %>