<% include precontent %>
<div>

<strong>Mizzou Engineering Department</strong>
<p><a href="http://engineering.missouri.edu">Engineering Department</a></p>

<strong>Software</strong>
<p><a href="http://msdn08.e-academy.com/elms/Storefront/Home.aspx?campus=missouri_comsci">Microsoft DreamSpark</a></p>

<strong>Stack Overflow</strong>
<p><a href="http://stackoverflow.com">StackOverflow</a></p>

<strong>C Math Problems</strong>
<p><a href="http://projecteuler.net/problems">Project Euler</a></p>



</div>

<% include postcontent %>