<% if (!user) { %>
	<a href="/auth/Google" class="no-ajaxy btn">Sign in with Google</a>
<% } else { %>
	<a href="/account" class="no-ajaxy btn">My Account</a>
	<a href="/logout" class="no-ajaxy btn">Logout</a>
<% } %>