.hero-unit
	padding 20px
	margin-bottom 20px

ul.thumbnails > li
	width 100px
	
	
body
	min-width 272px
	padding-top 0px
	
@media (max-width: 979px)
	body
		padding-top 0 !important

//gallery images page
#picture-comments-holder
	margin-top 10px

#social-media-pic-sharing
	margin 15px 0 15px -3px

//page messages
.alert
	width 70%
	max-width 384px
	margin 0px auto