<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.min.css' />
	<script src='/js/bootstrap.min.js'></script>
  </head>
  <body>
	<div id="page">
		<h1>Association for Computing Machinery</h1>
		<% include menu %>