<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="page">
		<h1>Association for Computing Machinery</h1>
		<% include menu %>