<% include header %>
	<div class="mission">To promote greater interest in computer science and diffuse knowledge concerning discipline. To actively participate in the expansion and improvement of educational computing at the University of Missouri-Columbia. To provide an opportunity for students, alumni, faculty and staff to participate in and learn about different facets and applications of computing.</div>
<% include footer %>
