body
	padding: 50px
	font-family: 'PT Sans', sans-serif

#main-menu
	float: left
	width: 100%
	padding: 0px

ul#main-menu li
	float: left
	list-style: none
	padding-right: 11px

.mission
	width: 490px

#page
	width: 1000px
	margin: 0px auto